/* 黑幕 */
.heimu,
.heimu a,
a .heimu,
.heimu a.new {
    background-color: #252525;
    color: #252525;
    text-shadow: none;
}
.heimu:hover,
.heimu:active,
.heimu:hover 
.heimu,
.heimu:active 
.heimu {
    color: white !important;
}
.heimu:hover a,
a:hover .heimu,
.heimu:active a,
a:active 
.heimu {
    color: lightblue !important;
}
.heimu:hover .new,
.heimu .new:hover,
.new:hover .heimu,
.heimu:active .new,
.heimu .new:active,
.new:active 
.heimu {
    color: #BA0000 !important;
}

/* 字体 */
@font-face {
    font-family: HarmonyOS_Sans;
    src: url("https://cdn.jsdelivr.net/gh/TNXG/data@main/HarmonyOS_Sans.ttf");
}
@font-face {
    font-family: JetBrainsMono;
    src: url("https://cdn.jsdelivr.net/gh/TNXG/data@main/JetBrainsMono-Regular.woff2");
}
body {
    font-family: HarmonyOS_Sans;
    font-family: JetBrainsMono;
}

/* 背景 */
.bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("http://arknights.asia/api/img/arknights_wallpaper/api.php");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}